<ion-header>
  <ion-toolbar color="consist">
    <ion-title>Info</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2><strong>Copyright 2017</strong></h2>
  <p>Dies ist eine Anwendung der Consist Software Solutions GmbH. Alle Angaben sind ohne Gewähr.</p>

  <h2><strong>Fotos</strong></h2>
  <p>Frank Behling</p>
  <p>Martin Lochte-Holtgreven</p>

  <h2><strong>Links</strong></h2>
  <p><a href="https://www.consist.de/de/index.html">Consist Software Solutions</a></p>
  <p><a href="https://www.consist.de/de/technologien-tools/software-tools/schiffsinformationssystem-sis/">Schiffsinformationssystem</a></p>

</ion-content>
