<ion-app>
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="home">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="info">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Info</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="ship-info">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Ship Info</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="ships">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Ships</ion-label>
      </ion-tab-button>

      <ion-tab-button name="livemap">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Livemap</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="viewpoints">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Viewpoints</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="todos">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Todos</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>






  <ion-router-outlet></ion-router-outlet>
</ion-app>
